// titles mixins

@mixin TitlesProperties {
  font-family: 'DrukSuper';
  letter-spacing: -3%;
  font-size: 2.77vw;
  line-height: 4.16vw;
  display: flex;
  align-items: center;
  padding: 1vw 0 1vw 1.5vw;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@mixin TitlesAuxiliaryProperties {
  font-family: 'DrukSuper';
  letter-spacing: -3%;
  font-size: 1.73vw;
  line-height: 2.08vw;
}

@mixin TitlesAuxiliaryCardsProperties {
  display: flex;
  align-items: center;
}

// article page titles typography

.A_TitleArticlePage {
  @include TitlesProperties;
  width: 33.3vw;
}

// lifehack page titles typography

.A_TitleLifehackPage {
  @include TitlesProperties;
  width: 41.7vw;
}

// titles typography

.A_TitleAuxiliary {
  @include TitlesAuxiliaryProperties;
  width: 95%;
}

// main page titles typography

.A_TitleMainPage {
  @include TitlesProperties;
  width: 50vw;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.A_TitleAuxiliaryMainPageCardShort {
  @include TitlesAuxiliaryProperties;
  @include TitlesAuxiliaryCardsProperties;
  width: 22.5vw;
}

.A_TitleAuxiliaryMainPageCardLong {
  @include TitlesAuxiliaryProperties;
  @include TitlesAuxiliaryCardsProperties;
  width: 47.5vw;
}

// text mixins

@mixin TextPropertiesBig {
  font-family: 'Inter';
  font-size: 1.73vw;
  line-height: 2.43vw;
  letter-spacing: -3%;
}

@mixin TextPropertiesSmall {
  font-family: 'Inter';
  font-size: 1.38vw;
  line-height: 2.08vw;
  letter-spacing: -3%;
}

// text typography

.A_TextImportantTop {
  @include TextPropertiesSmall;
  font-weight: 500;
  border-bottom: 12px solid black;
  padding-bottom: 2vw;
}

.A_TextImportant {
  @include TextPropertiesSmall;
  font-weight: 500;
}

.A_TextImportantBottom {
  @include TextPropertiesSmall;
  font-weight: 700;
  padding-top: 2vw;
  border-top: 4px solid black;
}

.A_TextImportantList {
  @include TextPropertiesSmall;
  font-weight: 700;
}

.A_TextIndependent {
  @include TextPropertiesBig;
  font-weight: 400;
}

.A_TextDependent {
  @include TextPropertiesSmall;
  font-weight: 400;
}

.A_TextList {
  @include TextPropertiesBig;
  font-weight: 400;
  padding: 0.7vw 0 1.5vw 2vw;
  border-top: 1px solid #000000;
}

// lines mixins

@mixin Line {
  background: black;
}

// lines

.A_LineTextBoxThin {
  @include Line;
  height: 1px;
}

.A_LineTextBoxNormal {
  @include Line;
  height: 4px;
}

.A_LineTextBoxWide {
  @include Line;
  height: 12px;
}
