@import 'mixins';

// article page titles typography
.W_BodyTextFact {
  width: 100%;
  padding-top: 0.2vw;
  padding-bottom: 1.3vw;
  border-top: 2px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_LifehackBodyTextAttention {
  @include BodyTextAttention;
  width: 25.1vw;
  height: 18.2vw;
}

.W_ArticleBodyTextAttention {
  @include BodyTextAttention;
  width: 22.1vw;
  height: 18.2vw;
}

.W_BodyTextList {
  padding-top: 4vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.A_TitleArticlePage {
  @include TitlesProperties;
  width: 33.3vw;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

// lifehack page titles typography

.A_TitleLifehackPage {
  @include TitlesProperties;
  border-bottom: 10px solid black;
  border-right: 0;
  width: 68vw;
  padding-bottom: 2vw;
}

.W_TitleLifehackPage {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  padding: 2.5vw 4.5vw 5vw 4.5vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.W_TitleMindMapPage {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  padding: 2.5vw 4.5vw 5vw 4.5vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.C_LifehackBodiesTextParagraphs {
  width: 100vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.W_TitlesLifehackPage {
  width: 100vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  border-bottom: 2px solid black;
  flex-direction: column;
  align-items: center;
}

.W_TitlesMindMapPage {
  width: 100vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  border-bottom: 2px solid black;
  flex-direction: column;
  align-items: center;
}
// search and filter page titles typography

.A_TitleSearchAndFilterPage {
  @include TitlesProperties;
  border: 0;
}

.W_ArrowAnNameFilterPage {
  display: flex;
}

.M_TitleSearchAndFilterPage {
  width: 100vw;
  min-height: 6.24vw;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  padding-right: 1.5vw;
  justify-content: space-between;
  padding: 1vw 0 1vw 2vw;
  padding-right: 1.5vw;
}

// map page typography and cards

.A_TitleMapPage {
  @include TitlesProperties;
  border: 0;
}

// map page typography and cards

.A_TitleCollectionPage {
  @include TitlesProperties;
  width: 30vw;
  border-right: 0px solid black;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

// map page typography and cards

.A_TitleMindMapPage {
  @include TitlesProperties;
  border-bottom: 10px solid black;
  border-right: 0;
  width: 68vw;
  padding-bottom: 2vw;
}

// titles typography

.A_TitleAuxiliary {
  @include TitlesAuxiliaryProperties;
  width: 95%;
}

.A_TitleAuxiliaryBody {
  @include TitlesAuxiliaryPropertiesBody;
  width: 95%;
  padding-top: 5vw;
}

.A_TitleAuxiliaryMap {
  @include TitlesAuxiliaryProperties;
  width: 95%;
}

// main page titles typography

.A_TitleMainPage {
  @include TitlesProperties;
  text-align: center;
  width: 100vw;
  border-bottom: 2px solid black;
}

.C_MainPageCard {
  width: 33.2vw;
  height: 51.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.M_MainPageCards {
  width: 29.8vw;
  height: 47.7vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2vw;
  justify-content: space-between;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-bottom: 30px solid black;
  border-top: 30px solid black;
}

.W_MainPageCardShort {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 0.8vw 1.5vw 1vw;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  flex-direction: column;
  align-items: flex-end;
}

.A_TitleAuxiliaryMainPageCardShort {
  @include TitlesAuxiliaryProperties;
  @include TitlesAuxiliaryCardsPropertiesMainPage;
}

.W_MainPageCardLong {
  width: 50vw;
  height: 21vw;
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 0.8vw 1.5vw 1vw;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  flex-direction: column;
  align-items: flex-end;
}

.A_TitleAuxiliaryMainPageCardLong {
  @include TitlesAuxiliaryProperties;
  @include TitlesAuxiliaryCardsProperties;
  width: 47.5vw;
}

.A_TextImportantTop {
  @include TextPropertiesSmall;
  font-weight: 500;
  border-bottom: 12px solid black;
  padding-bottom: 3vw;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

h4 {
  @include TextPropertiesSmall;
  font-weight: 700;
  padding-top: 2vw;
  border-top: 4px solid black;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.C_LifehackBodyTextParagraphs {
  @include BodyTextParagraphs;
}

.C_LifehackTextFacts {
  @include TextFacts;
  width: 33.3vw;
  height: 18.2vw;
}

.C_LifehackBodyTextParagraphs::-webkit-scrollbar {
  width: 0;
  height: 0;
}

//mind map page

.C_MindMapBodyTextParagraphs {
  @include BodyTextParagraphs;
  height: 47.1vw;
  width: 50vw;
  margin-top: 4.5vw;
  border-top: 2px solid #000000;
  border-right: 0px solid #000000;
}

.C_MindMapBodyTextParagraphs::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.C_ArticleBodyTextParagraphs {
  @include BodyTextParagraphs;
  width: 33.3vw;
}

.C_ArticleBodyTextParagraphs::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.C_ArticleTextFacts {
  @include TextFacts;
  width: 44.4vw;
  height: 18.2vw;
}

//collection page

.C_CoolectionBodyTextParagraphs {
  @include BodyTextParagraphs;
  padding: 3vw 3vw 3vw 3vw !important;
  border-bottom: 2px solid #000000;
  width: 66vw;
  min-height: 52vw;
}

.C_CollectionBodyTextParagraphs::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.A_TextImportant {
  @include TextPropertiesSmall;
  font-weight: 500;
}

.A_TextImportantBottom {
  @include TextPropertiesSmall;
  font-weight: 700;
  padding-top: 2vw;
  border-top: 4px solid black;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.A_TextImportantBottomMap {
}

.A_TextImportantList {
  @include TextPropertiesSmall;
  font-weight: 700;
}

.A_TextIndependent {
  @include TextPropertiesBig;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.A_TextIndependentFooter {
  @include TextPropertiesBig;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  text-transform: uppercase;
  color: #f4f4f4;
}

.A_TextIndependentBody {
  @include TextPropertiesBig;
  font-weight: 400;
  padding-top: 5vw;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.A_TextDependent {
  @include TextPropertiesSmall;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  margin-left: 6vw;
  padding-top: 3vw;
}

.A_TextDependentFooter {
  @include TextPropertiesSmall;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  color: #f4f4f4;
}

.W_LogoBottomFooter {
  height: 7vw;
  width: 100vw;
  display: flex;
  border: 2px solid #f4f4f4;
  border-top: 0;
  justify-content: center;
  align-items: center;
}

.A_TextDependentMap {
  @include TextPropertiesSmall;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.A_TextList {
  @include TextPropertiesBig;
  font-weight: 400;
  padding: 1.5vw 0 3vw 6vw;
  border-top: 2px solid #000000;
}

//map page

.C_MapSelectAndPointInformation {
  display: flex;
  flex-direction: row;
  height: 51.6vw;
  width: 34vw;
  border-bottom: 2px solid #000000;
}

.W_MapPagePointInformation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.W_MapChooseCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 4vw;
}

.W_MapInput {
  display: flex;
}

.W_MindMapShortInfoBox {
  width: 34vw;
  height: 52vw;
  padding: 2vw 2vw 2vw 2vw;
  border-bottom: 2px solid black;
}

.A_MindMapPageChooseCard {
  @include TextPropertiesSmall;
  @include TitlesAuxiliaryCardsProperties;
  text-transform: none;
  margin-right: 2vw;
}

.C_MindMapBodyPlayBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 52vw;
  width: 66vw;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
}

.A_MindMapPagePlayRestartCard {
  @include TitlesAuxiliaryProperties;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  height: 5.6vw;
  border: 2px solid black;
  border-bottom: 0;
  background-color: black;
}

.A_MindMapPageChooseCard.correct {
  background-color: #1ebcb1;
}

.A_MindMapPageChooseCard.incorrect {
  background-color: #f45e4e;
}

.W_MindMapChooseCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 4vw;
}

.W_MindMapPlayRestartCards {
  display: flex;
  width: 66vw;
}

.A_MapPageChooseCard {
  @include TextPropertiesSmall;
  @include TitlesAuxiliaryCardsProperties;
  text-transform: none;
  margin-right: 2vw;
}

.A_MapPageChooseCard:hover {
  cursor: pointer;
}

.A_MapPageInput {
  width: 46vw;
  height: 5.6vw;
  display: flex;
  background-color: #f4f4f4;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.A_MapPageFindButton {
  @include TextPropertiesBig;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  background-color: black;
  height: 5.6vw;
  border-width: 2px;
  border-top: 0px;
  border-bottom: 2px solid black;
  background-color: black;
}

.A_MapPageFindButton:hover {
  cursor: pointer;
}

.A_CollectionsPageFindButton {
  @include TitlesAuxiliaryProperties;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28vw;
  background-color: black;
  height: 5.6vw;
  border-top: 0px;
  border-bottom: 2px solid black;
  background-color: black;
  position: absolute;
  bottom: 3vw;
}
.A_MindMapPageCribButton {
  @include TitlesAuxiliaryProperties;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  height: 5.6vw;
  border: 2px solid black;
  border-bottom: 0;
  background-color: black;
}

.A_CollectionsPageFindButton:hover {
  cursor: pointer;
}

#input {
  all: initial;
  @include TextPropertiesSmall;
  padding-left: 1.5vw;
  width: 50vw;
  height: 5.5vw;
  background-color: #f4f4f4;
}

// mind map card

.A_MapPageChooseCard:hover {
  cursor: pointer;
}

// search and filter
.C_Filter {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.C_SearchAndFiltersPageCards {
  padding: 1.8vw 1.8vw 0vw 0vw;
  display: flex;
  justify-content: flex-start;
  min-height: fit-content;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
  height: fit-content;
}

.W_SearchAndFilterCard {
  @include TextPropertiesSmall;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  height: 6.15vw;
  width: calc(50vw / 3);
  border-left: 2px solid #000000;
  padding-bottom: 1vw;
  padding-left: 1.5vw;
}

.W_SearchAndFilterCard {
  @include TextPropertiesSmall;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  height: 6.15vw;
  width: calc(50vw / 3);
  border-left: 2px solid #000000;
  padding-bottom: 1vw;
  padding-left: 1.5vw;
}

.W_SearchAndFilterCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 4vw;
}

.W_SearchAndFilterCards:hover {
  cursor: pointer;
}

.W_SearchAndFilterCards::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.A_SearchAndFilterCard {
  @include TextPropertiesSmall;
  @include TitlesAuxiliaryCardsProperties;
  text-transform: none;
  margin-right: 2vw;
}

.A_SearchInput {
  all: initial;
  @include TextPropertiesSmall;
  width: 10vw;
}

// lines

.A_LineTextBoxThin {
  @include Line;
  height: 2px;
}

.A_LineTextBoxNormal {
  @include Line;
  height: 4px;
}

.A_LineTextBoxWide {
  @include Line;
  height: 12px;
}

.C_Menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #f4f4f4;
  z-index: 2;
  width: 100vw;
  height: 62.5vw;
}

//search and filter page

.A_SearchAndFiltersPageCard {
  width: 24.965vw;
  height: 27.83vw;
  padding: 2vw 1.5vw 1.5vw 1.5vw;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
//landing

.A_TitleAuxiliaryBodyLandingPage {
  font-family: 'DrukSuper';
  text-transform: uppercase;
  letter-spacing: -3%;
  font-size: 2.08vw;
  line-height: 2.7vw;
  padding-bottom: 1.5vw;
  border-bottom: 20px solid black;
  border-right: 0;
}

.A_TextIndependentLandingWide {
  @include TextPropertiesBig;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  width: 70.7vw;
  text-align: center;
}

.A_TextDependentLandingWide {
  @include TextPropertiesSmall;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  width: 60vw;
  text-align: center;
}

.A_TextIndependentLanding {
  @include TextPropertiesBig;
  font-weight: 400;
  padding-top: 3vw;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.A_TitleLandingPage {
  @include TitlesProperties;
  border-bottom: 20px solid black;
  border-right: 0;
  width: 68vw;
  padding-bottom: 2vw;
  text-align: center;
}

.A_LineLandingPageBlack {
  @include TitlesProperties;
  text-align: center;
  width: 100vw;
  border-bottom: 2px solid black;
  background-color: black;
  color: #f4f4f4;
}

.W_TitleLandingPage {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 2.5vw 4.5vw 6vw 4.5vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.M_LandingAboutUs {
  display: flex;
  height: 57vw;
  width: 80vw;
  border-left: 2px solid black;
  flex-wrap: wrap;
  flex-direction: column;
}

.W_LandingAboutUsInfo {
  height: 28.5vw;
  width: 40vw;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding: 3vw;
  padding-top: 2.5vw;
}

.M_LandingWhatWeHave {
  display: flex;
  height: 57.5vw;
  width: 80vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 3vw 4.5vw 4vw 4.5vw;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.M_LandingWhatMail {
  display: flex;
  height: 57vw;
  width: 80vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 3vw 4.5vw 4vw 4.5vw;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.M_LandingPageCards {
  height: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.W_MenuLandingPageLine {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 1.5vw;
  border-bottom: 4px solid black;
}

.A_TextIndependentLandingMenu {
  @include TextPropertiesBig;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  width: 20vw;
  line-height: 2vw;
}

.A_TextDependentLandingMenu {
  @include TextPropertiesSmall;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  width: 15vw;
  text-align: right;
  opacity: 50%;
  line-height: 1.6vw;
}

.C_LandingSearchAndFiltersCards {
  padding: 2vw 1.8vw 1vw 0vw;
  display: flex;
  justify-content: center;
  min-height: 57vw;
  width: 80vw;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-left: 10vw;
  align-content: space-around;
}
