//background colors

.yellow {
  background-color: #ece700;
}

.orange {
  background-color: #f45e4e;
}

.blue {
  background-color: #0093ff;
}

.lightblue {
  background-color: #b0d3ff;
}

.turquoise {
  background-color: #1ebcb1;
}
