@import 'mixins';

.M_MainPageCard {
  width: 33.2vw;
  height: 48.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.138vw solid black;
}

.C_MainPageCards {
  width: 29.8vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1.5vw;
  justify-content: space-between;
  border-bottom: 2.08vw solid black;
  border-top: 2.08vw solid black;
}

@media only screen and (min-device-width: 1920px) and (max-device-width: 2048px) {
  .M_MainPageCard {
    height: 43.6vw;
  }
  .C_MainPageCards {
    height: 39.9vw;
    padding: 1.5vw 2vw 1.5vw 2vw;
  }
}

@media only screen and (device-width: 1728px) {
  .M_MainPageCard {
    height: 51.9vw;
  }
  .C_MainPageCards {
    height: 47.6vw;
    width: 27.8vw;
  }
}

@media only screen and (device-width: 1512px) {
  .M_MainPageCard {
    height: 52.2vw;
  }
  .C_MainPageCards {
    height: 48vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .M_MainPageCard {
    height: 67.38vw;
    width: 50vw;
  }
  .C_MainPageCards {
    height: 61.38vw;
    width: 43.8vw;
    padding: 3.2vw 3vw 3.2vw 3vw;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .M_MainPageCard {
    display: none;
  }
}
.M_Footer {
  height: 27vw;
  display: flex;
  background-color: black;
  border-top: 2px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2vw;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .M_Footer {
    height: 52.75vw;
    border-top: 0.19vw solid black;
    margin-top: 2.8vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .M_Footer {
    height: 220vw;
    margin-top: 6vw;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.M_Filter {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.13vw solid #000000;
}

@media only screen and (device-width: 1680px) {
  .M_Filter {
    min-height: 9.9vw;
  }
}

@media only screen and (device-width: 1512px) {
  .M_Filter {
    min-height: 6.34vw;
  }
}

@media only screen and (device-width: 1194px) {
  .M_Filter {
    min-height: 7.2vw;
  }
}

@media only screen and (device-width: 1152px) {
  .M_Filter {
    min-height: 6.94vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .M_Filter {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .M_Filter {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// molecules for lifehack page

.M_BodyTextFactsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.M_MapPageSelect {
  width: 25vw;
  height: 33.6vw;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  margin-top: 4.5vw;
}

.M_MapPagePointInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
  width: 30vw;
  height: 33.6vw;
  padding: 2vw 1.5vw 2vw 1.5vw;
}

// molecules for search and filter page

.M_SearchAndFiltersPageCard {
  width: 22.7vw;
  height: 23.5vw;
  padding: 2.5vw 1.5vw 1.5vw 1.5vw;
  margin: 0 0 1.5vw 1.8vw;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.W_ContentCard {
  width: 22.7vw;
  height: 23.2vw;
  padding: 2.5vw 1.5vw 1.5vw 1.5vw;
  margin: 0 0 1.5vw 1.8vw;
  border: 0.138vw solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .W_ContentCard {
    width: 30.1vw;
    height: 31.33vw;
    margin: 0 0 2.5vw 2.5vw;
    padding: 2.6vw 1.58vw 1.58vw 1.58vw;
    border: 0.2vw solid #000000;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .W_ContentCard {
    width: 87.6vw;
    height: 92.2vw;
    margin: 0 0 6vw 0;
    padding: 8.4vw 6vw 6vw 6vw;
    border: 0.46vw solid #000000;
  }
}

.C_SearchAndFiltersPageCard {
  padding: 1.8vw 0vw 0vw 0vw;
  display: flex;
  min-height: 51vw;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
}

.C_MainPageContentCards {
  padding: 1.8vw 0vw 0vw 0vw;
  display: flex;
  min-height: 51vw;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .C_MainPageContentCards {
    padding: 2vw 0vw 0vw 0vw;
    border-bottom: 0.2vw solid #000000;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .C_MainPageContentCards {
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 6vw;
  }
}

.M_Header {
  display: flex;
}
