// header organisms

// footer organisms

.O_Footer {
  height: 27vw;
  display: flex;
  background-color: black;
  border-top: 2px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2vw;
}

// main page organisms

.O_MainPageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 122vw;
  width: 100vw;
}

// search and filter page organisms

.O_SearchAndFilterContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 58vw;
  width: 100vw;
}

// lifehack page organisms

.O_LifehackPageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: fit-content;
  width: 100vw;
}

.O_StyleGuidePageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  flex-direction: column;
}
// article page organisms

.O_ArticlePageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 62vw;
  width: 100vw;
}

// article page organisms

.O_CollectionPageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: fit-content;
  width: 100vw;
  margin-bottom: 4vw;
}

// mind map page organisms

.O_MindMapPageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: fit-content;
  width: 100vw;
  margin-bottom: 3vw;
}

.O_MindMapPageCridContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: fit-content;
  width: 100vw;
}

.C_LifehackPageInfo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.C_MindMapPageInfo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

// article page organisms

.C_ArticlePageInfo {
  width: 66.6vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// article page organisms

.C_CollectionPageInfo {
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.O_MapPageActivity {
  display: flex;
}
// article page organisms

.O_MapPageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  width: 100vw;
}
