// header organisms

// footer organisms

.O_Footer {
  height: 27vw;
  display: flex;
  background-color: black;
}

// main page organisms

.O_MainPageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 120.5vw;
  width: 100vw;
}

// search and filter page organisms

.O_SearchAndFilterContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 62vw;
  width: 100vw;
}

// lifehack page organisms

.O_LifehackPageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: fit-content;
  width: 100vw;
}

// article page organisms

.O_ArticlePageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 62vw;
  width: 100vw;
}

// article page organisms

.O_CollectionPageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 62vw;
  width: 100vw;
}

// mind map page organisms

.O_MindMapPageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 62vw;
  width: 100vw;
}

.C_LifehackPageInfo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

// article page organisms

.C_ArticlePageInfo {
  width: 66.6vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// article page organisms

.C_CollectionPageInfo {
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// article page organisms

.O_MapPageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 62vw;
  width: 100vw;
}
