//background colors

.yellow {
  background-color: #ece700;
}

.orange {
  background-color: #f45e4e;
}

.blue {
  background-color: #0093ff;
}

.lightblue {
  background-color: #b0d3ff;
}

.turquoise {
  background-color: #1ebcb1;
}

//fonts colors

.white {
  color: #f4f4f4;
}

//opacity

.opacity70 {
  opacity: 70%;
}

a {
  display: flex;
  justify-content: center;
}
//paddings and margins

.marginim {
  margin: 0;
}

.paddingtop1 {
  padding-top: 1vw;
}

.paddingtop2 {
  padding-top: 2vw;
}
