body.about {
  background-color: #000;
  padding: 1.25rem 1.875rem 1.75rem;

  @media (min-width: 640px) {
    padding: 32px 50px 60px;
  }

  @media (min-width: 1280px) {
    padding: 32px 30px 26px; 
  }

  h1,
  h2,
  p,
  a {
    color: #fff;
  }

  .title {
    font-weight: 600;
    font-size: 1.3125rem;
    line-height: 130%;

    @media (min-width: 640px) {
      font-size: 2.625rem;
      line-height: 115%;
    }
    
    @media (min-width: 1280px) {
      font-size: 3.75rem;
      line-height: 115%;
    }  
  }


  .paragraph {
    font-size: 0.8125rem;
    line-height: 185%;

    @media (min-width: 640px) {
      font-size: 1.25rem;
      line-height: 170%;
    }
    
    @media (min-width: 1280px) {
      font-size: 1.125rem;
      line-height: 160%;
    }
  }

  .section {
    border: 1px solid #fff;
    border-radius: 9.6px;
    margin-top: 1rem;
    position: relative;

    @media (min-width: 640px) {
      margin-top: 40px;
    }
  }

  .hero {
    &__text {
      margin-top: 1.875rem;

      @media (min-width: 640px) {
        margin-top: 126px;
      }

      &__subtitle {
        font-weight: 500;
        font-size: 1rem;

        &-phone {
          margin-left: 9.125rem;
        }

        @media (min-width: 640px) {
          font-size: 27px;
          margin-left: 254px;
        }
      }

      &__title {
        font-weight: 600;
        font-size: 5rem;
        margin-left: 1.25rem;
        line-height: 115%;

        @media (min-width: 640px) {
          font-size: 125px;
          margin-left: 38px;
        }
      }
    }

    &__diesel {
      margin-top: 4.375rem;
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;

      @media (min-width: 640px) {
        margin-top: 174px;
        justify-content: flex-end;
        padding: 0 40px 57px;
      }

      svg {
        height: auto;
        
        @media (min-width: 640px) {
          height: 320px;
          width: auto;
        }
      }
    }
  }

  .concept {
    padding: 30px 0 14px;
    background-color: #e584a7;

    @media (min-width: 640px) {
      padding: 80px 0 34px;
    }

    @media (min-width: 1280px) {
      padding: 90px 0 73px;
    }

    &__text {
      padding: 0 0 0 22px;

      @media (min-width: 1280px) {
        padding: 0 0 0 60px;
      }

      @media (min-width: 640px) {
        padding: 0 0 0 44px;
      }

      .title {
        margin-bottom: 10px;

        @media (min-width: 640px) {
          margin-bottom: 22px;
        }

        @media (min-width: 1280px) {
          margin-bottom: 30px;
        }
      }
    }

    &__recycle {
      margin-top: 80px;
      display: flex;
      justify-content: flex-end;
      padding-right: 12px;

      @media (min-width: 640px) {
        margin-top: 140px;
        padding-right: 34px;
      }

      @media (min-width: 1280px) {
        margin-top: 204px;
        padding-right: 80px;
      }

      img {
        height: 187px;
        width: auto;

        @media (min-width: 640px) {
          height: 407px;
        }
      }
    }
  }

  .audience {
    display: flex;
    background-color: #6a38ab;
    padding: 36px 0 20px;

    @media (min-width: 640px) {
      padding: 88px 0 10px;
    }

    @media (min-width: 1280px) {
      padding: 94px 0 48px;
    }

    &__coke {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px;

      @media (min-width: 640px) {
        padding: 0 0 0 20px;
      }

      @media (min-width: 1280px) {
        padding: 0 0 0 56px;
      }

      img {
        height: 208px;
        width: auto;

        @media (min-width: 640px) {
          height: 452px;
        }
      }
    }

    &__content {
      &__text {
        margin-left: -85px;

        @media (min-width: 1280px) {
          margin-left: 50px;
        }

        h1 {
          margin-bottom: 10px;

          @media (min-width: 640px) {
            margin-bottom: 22px;
          }

          @media (min-width: 1280px) {
            margin-bottom: 30px;
          }
        }
      }

      &__coke {
        margin-top: 250px;
        img {
          width: 32.9375vw;

          @media (min-width: 640px) {
            width: 100%;
            max-width: 452px;
          }
        }
      }
    }
  }

  .contribution {
    padding: 38px 16px 20px;

    @media (min-width: 640px) {
      padding: 100px 40px 40px;
    }

    @media (min-width: 1280px) {
      padding: 118px 56px 35px; 
    }

    h1 {
      text-align: center;
    }

    &__bottles {
      display: flex;
      justify-content: space-between;
      margin-top: 105px;
      gap: 40px;

      @media (min-width: 640px) {
        margin-top: 153px;
      }

      @media (min-width: 1280px) {
        margin-top: 186px;
      }

      svg {
        height: auto;
        width: auto;

        @media (min-width: 640px) {
          width: 470px;
        }

        @media (min-width: 1280px) {
          width: 258px;
        }
      }
    }
  }

  .study {
    padding: 5.3125vw 3.5vw 20.8125vw;
    background-color: #e584a7;

    h1 {
      margin-bottom: 4.75vw;
    }

    p {
      max-width: 62vw;
    }
  }

  .competitor {
    padding: 30px 0;
    background-color: #ed444e;
    position: relative;

    @media (min-width: 640px) {
      padding: 100px 42px 60px;
    }

    @media (min-width: 1280px) {
      padding: 96px 60px 60px;
      min-height: 960px;
    }

    h1 {
      text-align: center;

      @media (min-width: 640px) {
        text-align: left;
      }
    }

    p {
      padding-left: 24px;
      margin-top: 10px;

      @media (min-width: 640px) {
        padding-left: 200px;
      }

      @media (min-width: 1280px) {
        padding-left: 300px;
      }
    }

    .phone-image {
      margin-top: 24px;
      display: flex;
      justify-content: center;

      @media (min-width: 640px) {
        margin-top: 75px;
      }

      @media (min-width: 1280px) {
        display: none;
      }

      svg {
        width: 100%;
        height: auto;
      }
    }

    .desktop-image {
      @media (min-width: 640px) {
        display: none;
      }

      @media (min-width: 1280px) {
        display: block;
      }
    }

    &__banana {
      top: 22.25vw;
      left: 5vw;
      width: 28.5625vw;
      position: absolute;
    }

    &__tomato {
      width: 15.3125vw;
      position: absolute;
      top: 5.625vw;
      right: 5.3125vw;
    }

    &__apple {
      position: absolute;
      width: 28.4375vw;
      top: 30.625vw;
      right: 11.5625vw;
    }
  }

  .footer {
    padding: 40px 40px 10px;
    display: flex;

    p {
      line-height: 130%;

      @media (min-width: 1280px) {
        font-size: 30px;
        font-weight: 500;
        line-height: 160%;
      }
    }

    &__chse {
      margin-left: 45px;

      @media (min-width: 768px) {
        margin-left: 126px;
        flex: 1;
      }

      &__hse {
        margin-top: 42px;
        margin-left: -20px;

        @media (min-width: 768px) {
          margin-left: 0;
          display: flex;
          justify-content: flex-end;
        }

        @media (min-width: 1280px) {
          margin-top: -20px;
        }
  
        img {
          width: 31.9375vw;
        }
      }
    }
  }
}
