body.index {
  .menu {
    display: flex;
    gap: 2vw;

    &__box-text {
      font-size: 2vw;
      line-height: 2.8vw;
    }

    &__two-boxes {
      gap: 2vw;
    }

    &__box-style {
      padding: 2vw;
      flex: 1;
    }

    &__long-box {
      @extend .menu__box-style;
      height: 17.8vw;
    }

    &__left {
      padding: 7vw 3vw 3vw;

      &__content {
        h1 {
          font-size: 2.7vw;
        }

        p {
          font-size: 1.73vw;
          line-height: 2.7vw;
          margin-top: 2vw;
        }
      }

      &__arrow {
        display: flex;
        justify-content: flex-end;
        height: 100%;

        img {
          width: 6.5vw;
        }
      }
    }

    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2vw;
    }
  }
}
