body.index {
  background-color: #000;
  padding: 0 1.875rem;

  h1,
  p,
  a {
    color: #fff;
  }

  .main,
  .footer {
    border: 2px solid #fff;
    border-radius: 1.25rem;
    margin-top: 1.875rem;
    position: relative;
  }

  .title {
    font-size: 5.625rem;
    font-weight: 600;
    line-height: 6.46875rem;
  }

  .paragraph {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.775rem;
  }

  .hero {
    padding: 0 3.75rem;
    margin-top: 6.875rem;
    position: relative;

    &__subtitle {
      margin-top: 2.25rem;
      width: 43%;
    }

    &__image {
      position: absolute;
      right: 5rem;
      bottom: -2.5rem;

      &-star {
        position: absolute;
        right: 9.1875rem;
        top: 10.625rem;
      }
    }
  }

  .help {
    padding: 0 2.5rem;
    margin-top: 4.375rem;

    &__title {
      display: flex;
      place-items: center;
      gap: 0 4.25rem;
    }

    &__main {
      display: flex;
      justify-content: flex-end;
      position: relative;

      &__apple {
        margin-left: 7.5rem;
      }

      &__shoe {
        position: absolute;
        left: 0;
        bottom: -1.875rem;
      }

      &__points {
        display: flex;
        gap: 0 2.125rem;

        &__list {
          list-style: auto;
          max-width: 34.5625rem;
          padding-top: 2.5rem;

          li {
            @extend .paragraph;
            color: #fff;
          }
        }
      }
    }
  }

  .aware {
    position: relative;
    margin-top: 8.25rem;

    &__bottle {
      width: 100%;
      height: auto;
    }

    &__main {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 0 3.75rem;
      display: flex;
      place-items: center;

      h1 {
        width: 70%;
      }

      &__body {
        margin-top: 5.625rem;
        display: flex;
        gap: 5.25rem;

        img {
          margin-top: 1.5rem;
        }

        p {
          max-width: 34.5625rem;
          font-weight: 400;
        }
      }
    }
  }

  .advantages {
    margin: 5.4375rem 0 4.875rem;

    &__title {
      display: flex;
      place-items: center;
      gap: 2.8125rem;
      padding: 0 2.25rem;
    }

    &__body {
      display: flex;
      padding: 0 3.75rem;
      place-items: flex-end;

      &__paragraph {
        font-weight: 400;
      }

      &__image {
        display: flex;
        margin-top: 3.125rem;
        gap: 1.125rem;
        place-items: flex-end;

        &__diesel {
          img {
            height: 100%;
          }
        }

        &__water {
          position: relative;
          width: 56%;

          &__bottle {
            width: 100%;
            height: auto;
          }

          &__star {
            position: absolute;
            transform: rotate(29.35deg);
            top: -2.5rem;
            left: -2.7rem;
          }
        }
      }
    }

    &__recycle {
      position: relative;

      &__star {
        position: absolute;
        left: -2.7rem;
        top: 3rem;
        transform: rotate(29.35deg);
      }
    }
  }

  .footer {
    .title {
      text-align: center;
      max-width: 63.3125rem;
      margin: 6.375rem auto 0;
    }

    .newsletter {
      display: flex;
      justify-content: center;
      margin: 5rem 0 8.125rem;

      form {
        display: flex;
        gap: 1.75rem;

        input,
        button {
          font-size: 1.25rem;
          font-weight: 500;
          border-radius: 10rem;
          border: 0;
          outline: none;
        }

        input[type='email'] {
          background-color: #b0b0b0;
          padding: 0.625rem 1rem;
        }

        input[type='email']::placeholder {
          color: #000;
        }

        button {
          background-color: #2aa125;
          color: #fff;
          padding: 0.625rem 1.875rem;
        }
      }
    }
  }

  .game {
    margin: 10rem 3.75rem 4.25rem;
    border: 2px solid #ffffff;
    border-radius: 1.25rem;
    height: 87.5rem;
    width: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spacing {
    height: 5.625rem;
  }
}
