body.map {
  main {
    display: flex;
    justify-content: space-between;
    gap: 3vw;

    .info {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 3vw;

      &__search {
        display: flex;
        border-bottom: 2px solid #fff;
        align-items: center;
        gap: 1vw;
        padding-bottom: 2vw;
        margin-bottom: 2vw;
      }
    }
  }
}
