.navbar {
  border: 2px solid #fff;
  border-radius: 1.25vw;
  height: 5.625vw;
  padding: 3.75vw;
  display: flex;
  place-items: center;
  margin-top: 1.875vw;

  &__logo {
    width: 3.8125vw;
  }

  ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    place-items: center;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.875vw;
    }
  }
}

.menu {
  .hamburger {
    width: 5.875vw;
    height: 5.875vw;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 3.875vw;
    right: 3.875vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    padding: 1.5vw 0;
    cursor: pointer;
    background-color: #000;
    z-index: 2;

    &__line {
      height: 0.25vw;
      width: 2.5vw;
      border-radius: 2.5vw;
      background-color: #fff;

      &-rotate-right {
        transform: rotate(45deg) translate(0, 0.5vw);
      }

      &-rotate-left {
        transform: rotate(-45deg) translate(0, -0.6vw);
      }
    }
  }

  &__container {
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 1.25vw;
    width: calc(100% + 4px);
    z-index: 1;
    padding: 0 3.625vw;

    &-hidden {
      display: none !important;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-top: 5.625vw;

    &__link {
      font-size: 2.5vw;
      font-weight: 600;
      text-decoration: none;
      display: block;
    }

    &__pages {
      a {
        margin-bottom: 2.1875vw;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    place-items: flex-end;
    margin-bottom: 2.875vw;

    &__social {
      .paragraph {
        font-weight: 400 !important;
      }

      &__accounts {
        margin-top: 1.625vw;
        display: flex;
        gap: 1.625vw;

        &-blur {
          filter: blur(5px);
        }
      }
    }
  }
}
