.navbar {
  border: 2px solid #fff;
  border-radius: 1.25rem;
  height: 5.625rem;
  padding: 3.75rem;
  display: flex;
  place-items: center;
  margin-top: 1.875rem;

  ul {
    flex: 1;
    display: flex;
    justify-content: space-between;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.875rem;
    }
  }
}

.menu {
  .hamburger {
    width: 5.875rem;
    height: 5.875rem;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 3.875rem;
    right: 3.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    padding: 1.5rem 0;
    cursor: pointer;

    &__line {
      height: 0.25rem;
      width: 2.5rem;
      border-radius: 2.5rem;
      background-color: #fff;
    }
  }
}
