body.promo {
  background-color: #000;
  padding: 0 1.875vw;

  @media (min-width: 320px) {
    padding: 0 0.625rem;
  }

  @media (min-width: 360px) {
    padding: 0 0.625rem;
  }
  @media (min-width: 375px) {
    padding: 0 1.125rem;
  }

  @media (min-width: 390px) {
    padding: 0 0.625rem;
  }
  @media (min-width: 414px) {
    padding: 0 1.375rem;
  }
  @media (min-width: 428px) {
    padding: 0 1.75rem;
  }

  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }
  @media (min-width: 810px) {
    padding: 0 3rem;
  }
  @media (min-width: 834px) {
    padding: 0 3.75rem;
  }

  @media (min-width: 1024px) {
    padding: 0 1.5rem;
  }
  @media (min-width: 1080px) {
    padding: 0 3.3125rem;
  }
  @media (min-width: 1112px) {
    padding: 0 4.4375rem;
  }
  @media (min-width: 1152px) {
    padding: 0 5.5rem;
  }
  @media (min-width: 1194px) {
    padding: 0 6.75rem;
  }

  @media (min-width: 1280px) {
    padding: 0 1.875rem;
  }
  @media (min-width: 1366px) {
    padding: 0 4.5625rem;
  }

  @media (min-width: 1512px) {
    padding: 0 4.5625rem;
  }
  @media (min-width: 1536px) {
    padding: 0 4.8125rem;
  }

  @media (min-width: 1680px) {
    padding: 0 1.8125rem;
  }
  @media (min-width: 1728px) {
    padding: 0 3.375rem;
  }
  @media (min-width: 1920px) {
    padding: 0 9.375rem;
  }

  @media (min-width: 2048px) {
    padding: 0 2.355rem;
  }
  @media (min-width: 2560px) {
    padding: 0 7.125rem;
  }

  h1,
  p,
  a {
    color: #fff;
  }

  .main,
  .footer {
    border: 2px solid #fff;
    border-radius: 1.25vw;
    margin-top: 1.875vw;
    position: relative;
  }

  .title {
    font-size: 1.3125rem;
    line-height: 130%;
    font-weight: 600;

    @media (min-width: 640px) {
      font-size: 1.3125rem;
      line-height: 130%;
    }
    
    @media (min-width: 768px) {
      font-size: 1.9375rem;
      line-height: 125%;
    }
    
    @media (min-width: 1024px) {
      font-size: 2.625rem;
      line-height: 125%;
    }
    
    @media (min-width: 1280px) {
      font-size: 3.3125rem;
      line-height: 125%;
    }
    
    @media (min-width: 1536px) {
      font-size: 5rem;
      line-height: 125%;
    } 

    @media (min-width: 1680px) {
      font-size: 4.375rem;
      line-height: 125%;
    }    

    @media (min-width: 2048px) {
      font-size: 5.1875rem;
      line-height: 125%;
    }    
  }

  .paragraph {
    font-size: 0.8125rem;
    line-height: 160%;

    @media (min-width: 640px) {
      font-size: 0.8125rem;
      line-height: 160%;
    }
    
    @media (min-width: 768px) {
      font-size: 0.9375rem;
      line-height: 160%;
    }
    
    @media (min-width: 1024px) {
      font-size: 1.25rem;
      line-height: 170%;
    }
    
    @media (min-width: 1280px) {
      font-size: 1.125rem;
      line-height: 160%;
    }
    
    @media (min-width: 1536px) {
      font-size: 1.25rem;
      line-height: 160%;
    }    

    @media (min-width: 1680px) {
      font-size: 1.4375rem;
      line-height: 160%;
    }    

    @media (min-width: 2048px) {
      font-size: 1.6875rem;
      line-height: 160%;
    }    
  }

  .ipad{
    display: block;
    @media (min-width: 1280px) {
      display: none;
    }
  }

  .desktop {
    display: none;
    @media (min-width: 640px) {
      display: block;
    }
  }

  .phone {
    display: block;
    @media (min-width: 640px) {
      display: none;
    }
  }

  .bold {
    font-weight: bold;
  }

  .hero {
    padding: 6.875vw 3.75vw 0;
    position: relative;

    &__subtitle {
      margin-top: 2.25vw;
    }

    &__mobile-image {
      display: flex;
      justify-content: center;
      margin-top: 51px;

      @media (min-width: 640px) {
        display: none;
      }
    }

    &__image {
      display: none;

      @media (min-width: 640px) {
        display: block;
      }

      &__banana {
        position: absolute;
        width: 31.25vw;
        height: auto;

        @media (min-width: 640px) {
          display: none;
        }

        @media (min-width: 768px) {
          width: 22.25rem;
          right: 0;
          top: 10rem;
          display: block;
        }

        @media (min-width: 1024px) {
          width: 30.25rem;
          right: 0;
          top: 13rem;
        }

        @media (min-width: 1280px) {
          right: 0;
          width: 37.875rem;
          top: 17rem;
        }

        @media (min-width: 1512px) {
          right: 0;
          top: 10.8125rem;
          width: 40.125rem;
        }

        @media (min-width: 2048px) {
          right: 2.0625rem;
          top: 16.0625rem;
          width: 48.625rem;
        }
      }

      &__star {
        position: absolute;
        right: 9.1875vw;
        top: 10.625vw;
        width: 5.5625vw;
      }
    }
  }

  .help {
    padding: 0 2.5vw;
    margin-top: 63px;
    position: relative;

    @media (min-width: 640px) {
      margin-top: 209px;
    }
    
    @media (min-width: 768px) {
      margin-top: 209px;
    }
    
    @media (min-width: 1024px) {
      margin-top: 279px;
    }
    
    @media (min-width: 1280px) {
      margin-top: 400px;
    }
    
    @media (min-width: 1512px) {
      margin-top: 322px;
    }
    
    @media (min-width: 1680px) {
      margin-top: 378px;
    }
    
    @media (min-width: 2048px) {
      margin-top: 455px;
    }

    &__content {
      display: flex;

      &__battery {
        width: auto;
        display: none;

        @media (min-width: 640px) {
          display: inline-block;
        }

        @media (min-width: 640px) {
        }
        
        @media (min-width: 768px) {
          height: 227px;
        }
        
        @media (min-width: 1024px) {
          height: 309px;
        }
        
        @media (min-width: 1280px) {
          height: 391px;
        }
        
        @media (min-width: 1512px) {
          height: 443px;
        }
        
        @media (min-width: 1680px) {
          height: 519px;
        }
        
        @media (min-width: 2048px) {
          height: 619px;
        }
      }

      &__text {
        @media (min-width: 640px) {
          margin-left: 40px;
          padding-top: 135px;
        }
        
        @media (min-width: 768px) {
          margin-left: 40px;
          padding-top: 135px;
        }
        
        @media (min-width: 1024px) {
          margin-left: 60px;
          padding-top: 155px;
        }
        
        @media (min-width: 1280px) {
          margin-left: 70px;
          padding-top: 200px;
        }
        
        @media (min-width: 1512px) {
          margin-left: 80px;
          padding-top: 0;
        }
        
        @media (min-width: 1680px) {
          margin-left: 82px;
        }
        
        @media (min-width: 2048px) {
          margin-left: 110px;
        }
      }

      &__points {
        list-style: auto;
        margin-top: 10px;

        &-ipad {
          display: block;
          @media (min-width: 1280px) {
            display: none;
          }
        }

        &-desktop {
          display: none;
          @media (min-width: 1280px) {
            display: block;
          }
        }

        p {
          line-height: 185%;
        }

        @media (min-width: 640px) {
          margin-left: 30px;
        }
        
        @media (min-width: 768px) {
          margin-top: 14px;
        }
        
        @media (min-width: 1024px) {
          margin-top: 22px;
        }
        
        @media (min-width: 1280px) {
          margin-top: 26px;
        }
        
        @media (min-width: 1512px) {
          margin-top: 30px;
        }
        
        @media (min-width: 1680px) {
          margin-top: 35px;
        }
        
        @media (min-width: 2048px) {
          margin-top: 42px;
        }
      }
    }

    &__images {
      position: absolute;
      width: calc(100% - 5vw);
      justify-content: flex-end;
      align-items: flex-end;
      display: none;

      @media (min-width: 640px) {
        display: flex;
      }
      
      @media (min-width: 768px) {
        top: 180px;
      }
      
      @media (min-width: 1024px) {
        top: 295px;
      }
      
      @media (min-width: 1280px) {
        top: 310px;
      }
      
      @media (min-width: 1512px) {
        top: 146px;
      }
      
      @media (min-width: 1680px) {
        top: 170px;
      }
      
      @media (min-width: 2048px) {
        top: 200px;
      }

      &__shoe {
        width: auto;

        @media (min-width: 640px) {
        }
        
        @media (min-width: 768px) {
          height: 358px;
        }
        
        @media (min-width: 1024px) {
          height: 438px;
        }
        
        @media (min-width: 1280px) {
          height: 618px;
        }
        
        @media (min-width: 1512px) {
          height: 641px;
        }
        
        @media (min-width: 1680px) {
          height: 750px;
        }
        
        @media (min-width: 2048px) {
          height: 895px;
        }
      }

      &__apple {
        width: auto;

        @media (min-width: 640px) {
        }
        
        @media (min-width: 768px) {
          height: 192px;
          margin-right: 83px;
          margin-top: 54px;
        }
        
        @media (min-width: 1024px) {
          height: 261px;
          margin-right: 156px;
          margin-top: 70px;
        }
        
        @media (min-width: 1280px) {
          height: 331px;
          margin-right: 142px;
          margin-top: 90px;
        }
        
        @media (min-width: 1512px) {
          height: 300px;
          margin-right: 162px;
        }
        
        @media (min-width: 1680px) {
          height: 352px;
          margin-right: 190px;
        }
        
        @media (min-width: 2048px) {
          height: 419px;
          margin-right: 227px;
        }
      }
    }

    &__images-phone {
      display: flex;
      justify-content: center;
      margin-top: 32px;

      @media (min-width: 640px) {
        display: none;
      }
    }
  }

  .aware {
    position: relative;
    margin-top: 60px;
    
    @media (min-width: 640px) {
      margin-top: 374px;
    }
    
    @media (min-width: 768px) {
      margin-top: 374px;
    }
    
    @media (min-width: 1024px) {
      margin-top: 498px;
    }
    
    @media (min-width: 1280px) {
      margin-top: 750px;
    }
    
    @media (min-width: 1512px) {
      margin-top: 466px;
    }
    
    @media (min-width: 1680px) {
      margin-top: 546px;
    }
    
    @media (min-width: 2048px) {
      margin-top: 650px;
    }

    &__bottle {
      width: 100%;
      height: auto;
    }

    &__main {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 0 3.75vw;
      display: flex;
      width: 79.5%;

      &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding-top: 9.8125vw;
        padding-bottom: 5.4375vw;
      }

      &__text {
        p {
          margin-top: 15px;
        }

        &-phone {
          display: block;
          @media (min-width: 640px) {
            display: none;
          }
        }

        &-desktop {
          display: none;
          @media (min-width: 640px) {
            display: block;
          }
        }
      }

      &__drop {
        display: none;
        justify-content: flex-end;

        @media (min-width: 640px) {
          display: flex;
        }

        svg {
          width: auto;
          @media (min-width: 640px) {
          }
          
          @media (min-width: 768px) {
            height: 122px;
          }
          
          @media (min-width: 1024px) {
            height: 166px;
          }
          
          @media (min-width: 1280px) {
            height: 210px;
          }
          
          @media (min-width: 1512px) {
            height: 239px;
          }
          
          @media (min-width: 1680px) {
            height: 280px;
          }
          
          @media (min-width: 2048px) {
            height: 333px;
          }
        }
      }
    }
  }

  .advantages {
    margin: 53px 0;
    
    @media (min-width: 640px) {
      margin: 5.4375vw 0 4.875vw;
    }

    &__diesel {
      display: flex;
      justify-content: flex-end;
      padding: 0 2.5vw;
      margin-bottom: 25px;

      @media (min-width: 640px) {
        display: none;
      }
    }
    
    &__main {
      display: flex;
      padding: 0 2.5vw;

      &__text {
        &__phone {
          margin-top: 10px;
        }

        @media (min-width: 640px) {
          margin-left: 29px;
          padding-top: 85px;
        }
        
        @media (min-width: 768px) {
          margin-left: 29px;
          padding-top: 85px;
        }
        
        @media (min-width: 1024px) {
          margin-left: 40px;
          padding-top: 120px;
        }
        
        @media (min-width: 1280px) {
          margin-left: 50px;
          padding-top: 150px;
        }
        
        @media (min-width: 1512px) {
          margin-left: 98px;
        }
        
        @media (min-width: 1680px) {
          margin-left: 115px;
        }
        
        @media (min-width: 2048px) {
          margin-left: 137px;
        }

        p {
          @media (min-width: 640px) {
          }
          
          @media (min-width: 768px) {
            margin-top: 15px;
          }
          
          @media (min-width: 1024px) {
            margin-top: 21px;
          }
          
          @media (min-width: 1280px) {
            margin-top: 26px;
          }
          
          @media (min-width: 1512px) {
            margin-top: 30px;
          }
          
          @media (min-width: 1680px) {
            margin-top: 35px;
          }
          
          @media (min-width: 2048px) {
            margin-top: 44px;
          }
        }
      }

      &__bottle {
        width: auto;
        display: none;

        @media (min-width: 640px) {
          display: block;
        }
        
        @media (min-width: 768px) {
          height: 188px;
        }
        
        @media (min-width: 1024px) {
          height: 256px;
        }
        
        @media (min-width: 1280px) {
          height: 324px;
        }
        
        @media (min-width: 1512px) {
          height: 299px;
        }
        
        @media (min-width: 1680px) {
          height: 350px;
        }
        
        @media (min-width: 2048px) {
          height: 417px;
        }
      }
    }

    &__images {
      margin-top: 15px;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      svg {
        width: auto
      }

      &__water {
        height: 110px;

        @media (min-width: 640px) {
          height: 223px;
        }
        
        @media (min-width: 768px) {
          height: 223px;
        }
        
        @media (min-width: 1024px) {
          height: 303px;
        }
        
        @media (min-width: 1280px) {
          height: 384px;
          margin-right: 0;
        }
        
        @media (min-width: 1512px) {
          height: 303px;
          margin-right: 23px;
        }
        
        @media (min-width: 1680px) {
          height: 355px;
          margin-right: 27px;
        }
        
        @media (min-width: 2048px) {
          height: 423px;
          margin-right: 32px;
        }
      }

      &__diesel {
        display: none;

        @media (min-width: 1280px) {
          display: none;
        }
        
        @media (min-width: 1512px) {
          display: inline-block;
          height: 336px;
          margin-right: 23px;
        }
        
        @media (min-width: 1680px) {
          height: 394px;
          margin-right: 27px;
        }
        
        @media (min-width: 2048px) {
          height: 470px;
          margin-right: 122px;
        }
      }

      &__recycle {
        height: 180px;

        @media (min-width: 640px) {
          height: 367px;
        }
        
        @media (min-width: 768px) {
          height: 367px;
        }
        
        @media (min-width: 1024px) {
          height: 503px;
        }
        
        @media (min-width: 1280px) {
          height: 639px;
        }
        
        @media (min-width: 1512px) {
          height: 680px;
        }
        
        @media (min-width: 1680px) {
          height: 797px;
        }
        
        @media (min-width: 2048px) {
          height: 950px;
        }
      }
    }
  }

  .footer {
    padding: 8.375vw 3.75vw 11.75vw;

    &__subtitle {
      font-weight: 700;
      line-height: 140%;

      @media (min-width: 640px) {
        font-size: 15px;
        line-height: 130%;
      }
      
      @media (min-width: 768px) {
        font-size: 21px;
        line-height: 140%;
      }
      
      @media (min-width: 1024px) {
        font-size: 28px;
      }
      
      @media (min-width: 1280px) {
        font-size: 35px;
      }
      
      @media (min-width: 1512px) {
        font-size: 40px;
      }
      
      @media (min-width: 1680px) {
        font-size: 47px;
      }
      
      @media (min-width: 2048px) {
        font-size: 56px;
      }
    }

    .newsletter {
      display: flex;
      margin: 5vw 0 0;

      form {
        display: flex;
        gap: 1.75vw;

        input,
        button {
          font-size: 1.25vw;
          font-weight: 500;
          border-radius: 10vw;
          border: 0;
          outline: none;
        }

        input[type='email'] {
          background-color: #b0b0b0;
          padding: 0.625vw 1vw;
        }

        input[type='email']::placeholder {
          color: #000;
        }

        button {
          background-color: #2aa125;
          color: #fff;
          padding: 0.625vw 1.875vw;
        }
      }
    }
  }

  .game {
    margin: 33px 0;
    border: 2px solid #ffffff;
    border-radius: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (min-width: 640px) {
      margin: 7.75vw 0;
    }

    &__background {
      position: absolute;
      height: 25vw;
    }

    .box1 {
      background-color: black;
      width: 85.7vw;
      height: 56.5vw;
      stroke: white;
      stroke-width: 2;
      border-radius: 2vw;
      overflow: hidden;
      white-space: nowrap;
    }
    .img1 {
      position: relative;
      display: block;
      height: 46.1vw;
      margin-top: -10vw;
      margin-left: 20vw;
    }
    .img2 {
      position: relative;
      display: none;
      height: 20.3vw;
      margin-top: -60vw;
      margin-left: 30vw;
    }
    .img3 {
      position: relative;
      display: none;
      rotate: 90deg;
      height: 23.9vw;
      margin-top: -55vw;
      margin-left: 25vw;
    }
    .img4 {
      position: relative;
      display: none;
      height: 4.27vw;
      rotate: 90deg;
      margin-top: -45vw;
      margin-left: 20vw;
    }
    .img5 {
      position: relative;
      display: none;
      height: 20.6vw;
      margin-top: -35vw;
      margin-left: 20vw;
    }
    .img6 {
      position: relative;
      display: none;
      height: 30vw;
      margin-left: 35vw;
      margin-top: -30vw;
      rotate: 90deg;
    }
    .img7 {
      position: relative;
      display: none;
      height: 4.27vw;
      margin-left: 69vw;
      margin-top: -29vw;
    }
    .yes {
      display: block;
    }
    .yes2 {
      display: block;
    }
    .yes3 {
      display: block;
    }
    .no {
      display: none;
    }
  }

  .spacing {
    height: 5.625vw;
  }
}
