body {
  background-color: black;
}
a {
  text-decoration: none;
}
.box1 {
  width: 100vw;
  height: 8.68vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchim {
  height: 3.15vw;
  margin-left: 3vw;
}
.burgerim {
  height: 6.53vw;
  margin-right: 3vw;
}
.box2 {
  width: 100vw;
  height: 3vw;
  display: flex;
  justify-content: space-between;
}
.arrowim {
  height: 2.2vw;
  margin-bottom: 3vw;
  margin-left: 3vw;
}
.basementim {
  position: absolute;
  margin-left: 3vw;
  margin-top: 3vw;
  width: 94vw;
}
.box3 {
  width: 56.6vw;
  margin-right: 23vw;
  height: 3vw;
  display: flex;
  justify-content: center;
}
.box4 {
  width: 100vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
.box31 {
  width: 13.3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
p2 {
  font-family: 'Inter';
  position: absolute;
  font-size: 1.73vw;
  line-height: 2.7vw;
  color: white;
  margin-left: 2vw;
  margin-top: 2vw;
}
p1 {
  font-family: 'Inter';
  position: absolute;
  font-size: 2.3vw;
  line-height: 2.9vw;
  color: white;
  margin-left: 3vw;
  margin-top: 3vw;
}
p {
  font-family: 'Inter';
  font-size: 2.7vw;
  color: white;
}
.box5 {
  margin-left: 3vw;
  margin-top: 3vw;
  width: 94vw;
  height: 36.1vw;
  border: 2px solid white;
  border-radius: 2vw;
  display: flex;
}
.box6 {
  margin-left: 3vw;
  margin-top: 3vw;
  width: 94vw;
  height: 82vw;
  border: 2px solid white;
  border-radius: 2vw;
  display: flex;
}
