* {
  padding: 0;

  margin: 0;
}
body {
  border-top: 1px solid #efefef;
  background: #efefef;
  min-height: 100vh;
}

.searchWrapper {
  display: flex;
  width: 95vw;
}

.W_SearchPageButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 4vw;
}

.W_SearchPageButtons:hover {
  cursor: pointer;
}

.W_SearchPageButtons::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.W_SearchPageButtons input {
  font-family: 'Inter';
  font-size: 1.38vw;
  line-height: 2.08vw;
  letter-spacing: -3%;
  width: 30vw;
  height: 6vw;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border: 2px solid black;
  padding-left: 2vw;
  margin-right: 2vw;
}

.W_SearchPageButtons button {
  font-family: 'Inter';
  font-size: 1.38vw;
  line-height: 2.08vw;
  letter-spacing: -3%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  color: #f4f4f4;
  background-color: black;
  height: 6vw;
  border-width: 2px;
  border-top: 0px;
  border-bottom: 2px solid black;
  background-color: black;
  border-radius: 5px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .W_SearchPageButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 6vw;
  }
  .W_SearchPageButtons input {
    font-size: 1.95vw;
    line-height: 2.34vw;
  }
  .W_SearchPageButtons button {
    font-size: 1.95vw;
    line-height: 2.34vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .W_SearchPageButtons {
    height: 15.8vw;
    width: 100vw;
    border-bottom: 0.46vw solid #000000;
    overflow-x: auto;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

/* .A_TextIndependent {
  font-family: 'Inter';
  font-size: 1.73vw;
  line-height: 2.43vw;
  letter-spacing: -3%;
  font-weight: 400;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  padding-top: 3vw;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .A_TextIndependent {
    font-size: 1.95vw;
    line-height: 2.34vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .A_TextIndependent {
    font-size: 4.67vw;
    line-height: 5.6vw;
    padding-top: 6vw;
  }
} */

.heading {
  margin-bottom: 20px;
  color: var(--black);
  font-family: InterMedium, sans-serif;
  font-size: 36px;
}

.C_SearchPageCards {
  padding: 1.8vw 1.8vw 0vw 0vw;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  min-height: 48.3vw;
  width: 100vw;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .C_SearchPageCards {
    padding: 2.5vw 1.8vw 0.7vw 0vw;
    min-height: 110vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .C_SearchPageCards {
    padding: 6vw 0vw 0vw 0vw;
    justify-content: center;
  }
}
.post {
  min-width: 30.1vw !important;
  min-height: 31.33vw;
  margin: 0 0 2.5vw 2.5vw;
  padding: 2.6vw 1.58vw 1.58vw 1.58vw;
  border: 0.2vw solid #000000;
}

.keywords {
  display: flex;
  gap: 10px;
}

.keywords p {
  border: 1px solid #3c65f6;
  border-radius: 44px;
  color: #3c65f6;
  display: inline-block;
  font-family: InterLight, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 115%;
  padding: 3px 14px 4px;
}
