* {
  padding: 0;

  margin: 0;
}
body {
  border-top: 1px solid #efefef;
  background: #efefef;
  min-height: 100vh;
}

.searchWrapper {
  display: flex;
}

.searchWrapper input {
  font-family: 'Inter';
  font-size: 1.38vw;
  line-height: 2.08vw;
  letter-spacing: -3%;
  width: 30vw;
  height: 9.9vw;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border: 2px solid black;
  padding-left: 2vw;
}

.searchWrapper button {
  font-family: 'DrukSuper';
  text-transform: uppercase;
  letter-spacing: -3%;
  font-size: 1.73vw;
  line-height: 2.08vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  color: #f4f4f4;
  background-color: black;
  height: 9.9vw;
  border-width: 2px;
  border-top: 0px;
  border-bottom: 2px solid black;
  background-color: black;
  border-radius: 5px;
}

.heading {
  margin-bottom: 20px;
  color: var(--black);
  font-family: InterMedium, sans-serif;
  font-size: 36px;
}

.C_SearchPageCards {
  padding: 1.8vw 1.8vw 0vw 0vw;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  min-height: 48.3vw;
  width: 100vw;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .C_SearchPageCards {
    padding: 2.5vw 1.8vw 0.7vw 0vw;
    min-height: 110vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (orientation: portrait) {
  .C_SearchPageCards {
    padding: 6vw 0vw 0vw 0vw;
    justify-content: center;
  }
}
.post {
  width: 22.7vw !important;
  height: 23.5vw !important;
  padding: 2.5vw 1.5vw 1.5vw 1.5vw;
  margin: 0 0 1.5vw 1.8vw;
  border: 0.138vw solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keywords {
  display: flex;
  gap: 10px;
}

.keywords p {
  border: 1px solid #3c65f6;
  border-radius: 44px;
  color: #3c65f6;
  display: inline-block;
  font-family: InterLight, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 115%;
  padding: 3px 14px 4px;
}
