// wrappers for header

// wrappers for footer

// mixins for wrappers for titles

@mixin TitlesWrappersProperties {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 15px 0px;
  grid-area: tt;
}

// wrappers for titles

.W_TitlesMainPage {
  width: 720px;
  height: 192px;
}

// wrappers for main page

.W_GoToPageMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 15px;
  gap: 195px;
  grid-area: gtpmp;
}
